.App {
  /* text-align: center; */
  background-color: #ffffff;
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */

  font-family: "Nunito", sans-serif;
}
/* Header picture */
.bg {
  height: 45vh;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: 0% 70%;
}

/* Navbar */
nav {
  background-color: rgba(255, 255, 255, 0.616);
  width: 80%;
  height: 3.1em;
  position: sticky;
  top: -1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3.1em auto 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.stickyBg {
  background-color: rgb(255, 255, 255);
  height: calc(3.1em + 1px);
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 10px;
}

/* Grid*/
.grid-container {
  display: grid;
  grid-template-rows: 55vh 55vh 55vh;
  grid-template-columns: 100%;
}

.row-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.a {
  background-image: url(h1.jpg);
  /* background-size: contain; */
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.b {
  background-image: url(h2.jpg);
  background-size: cover;
}

.c {
  background-image: url(h3.jpg);
  background-size: cover;
}

.column-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 10%;
}

.a1 {
  background-color: #c2e595c5;
}

.b1 {
  background-color: #eb76fd3a;
}

.c1 {
  background-color: #fff5a098;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 10%;
}

.a2 {
  /* background-color: #c2e595; */
  background-color: #ffffff44;
}

.b2 {
  background-color: #eb76fdcc;
}

.c2 {
  background-color: #fff5a059;
}

/* components Square.js */
.square {
  height: 10px;
  width: 10px;
  margin-right: 1em;
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
}

.textRow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 55%; */
}
