.App {
  /* text-align: center; */
  background-color: #ffffff;
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */

  font-family: "Nunito", sans-serif;
}
/* Header picture */
.bg {
  height: 45vh;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: 0% 70%;
}

/* Navbar */
nav {
  background-color: rgba(255, 255, 255, 0.616);
  width: 80%;
  height: 3.1em;
  position: sticky;
  top: -1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3.1em auto 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.stickyBg {
  background-color: rgb(255, 255, 255);
  height: calc(3.1em + 1px);
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 10px;
}

/* Grid*/
.grid-container {
  display: grid;
  grid-template-rows: 55vh 55vh 55vh;
  grid-template-columns: 100vw;
}

.row-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50vw 50vw;
}

.column-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
