.App {
  /* text-align: center; */
  background-color: #ffffff;
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */

  font-family: "Nunito", sans-serif;
}
/* Header picture */
.bg {
  height: 45vh;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: 0% 70%;
}

/* Navbar */
nav {
  background-color: rgba(255, 255, 255, 0.616);
  width: 80%;
  height: 3.1em;
  position: sticky;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3.1em auto 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 10px;
}
